In [1]:
import pymysql as sql
import pandas as pd

In [10]:
df = pd.read_excel("HOPE.xlsx", sheet_name="resulttbl1",index_col="#")
df

,Regn Num,Name,Branch,Venue,Batch,Time
#,,,,,,
1,22AD107,AADHITHYA KHANNA V S,AI,Technology IT LAB -1,Batch-1,8.15-8.45am
2,22AD159,AADITYA RAAJA R,AI,Technology IT LAB -1,Batch-1,8.15-8.45am
3,22AD264,AASHIQ AHAMED N,AI,Technology IT LAB -1,Batch-1,8.15-8.45am
4,22AD276,ABHINAYA V J,AI,Technology IT LAB -1,Batch-1,8.15-8.45am
5,22AD128,ABHISHEK P,AI,Technology IT LAB -1,Batch-1,8.15-8.45am
...,...,...,...,...,...,...
813,22IT208,VICKINESHWARAN VICKINESHWARAN,IT,Technology IT LAB -1,Batch-2,9.00-9.30 am
814,22IT272,VIGNESH S,IT,Technology IT LAB -1,Batch-2,9.00-9.30 am
815,22IT181,VIJAY S (04-03-2005),IT,Technology IT LAB -1,Batch-2,9.00-9.30 am
816,22IT115,VINAY S (08-11-2004),IT,Technology IT LAB -1,Batch-2,9.00-9.30 am
817,22IT138,VISHAL R,IT,Technology IT LAB -1,Batch-2,9.00-9.30 am

In [18]:
# Finding the top 10 rows
data = df[["Regn Num","Name"]].values
for i in range(100):
    print(data[i])

['22AD107' 'AADHITHYA KHANNA V S ']
['22AD159' 'AADITYA RAAJA R ']
['22AD264' 'AASHIQ AHAMED N ']
['22AD276' 'ABHINAYA V J ']
['22AD128' 'ABHISHEK P']
['22AD146' 'ABIJITH T ']
['22AD269' 'ABINAYA K M ']
['22AD115' 'ABISHEAK K ']
['22AD143' 'ADHITYA S ']
['22AD136' 'AJAY G ']
['22AD170' 'AJAY J ']
['22AD280' 'AKASH S ']
['22AD193' 'AKSHAYA SHREE J V ']
['22AD301' 'ALEEMULLAH HUSSAIN H HUSSAIN ']
['22AD201' 'AMITESH M ']
['22AD356' 'AMUDHAN P ']
['22AD358' 'ANGEL CATHERINE M ']
['22AD109' 'ANSEL BERDINANT B ']
['22AD157' 'ARJUN ADHITHYA R R ']
['22AD195' 'ARON ABRAHAM LINCOLN P ']
['22AD278' 'ARULPRASANTH S ']
['22AD156' 'ASIF K A ']
['22AD185' 'AVINASH N ']
['22AD155' 'BENITA S ']
['22AD211' 'BHARATH R ']
['22AD259' 'BHAVANA S ']
['22AD119' 'CLARIA PERSY P ']
['22AD284' 'CLARIS TASHA J X ']
['22AD230' 'DEBORAH ROOPAVATHI S ']
['22AD216' 'DEEPIKA M ']
['22AD260' 'DEERENDRAN R ']
['22AD212' 'DEVAPRIYA R R ']
['22AD160' 'DHAKSHANA MANISH G ']
['22AD252' 'DHAKSIN S ']
['22AD199' 'DHARSHAN H ']
['22AD237' 'DHARUNIKA B ']
['22AD217' 'DHIVYA SHREE L ']
['22AD248' 'DIVILIN SWEETY D S ']
['22AD235' 'DIVIT P ']
['22AD207' 'ELAKKIYA B ']
['22AD353' 'ELAMMURUGAN T ']
['22AD197' 'FILBERT SHAWN P ']
['22AD106' 'GIFTLIN C ']
['22AD251' 'GINO PRASATH J ']
['22AD182' 'GOMATTHI D ']
['22AD279' 'GOWSILAN B ']
['22AD198' 'GUNANITHI E ']
['22AD181' 'GURUGUHAN M B ']
['22AD190' 'HAJESH S P ']
['22AD202' 'HAMSA VARDHINI M ']
['22AD139' 'HARI K ']
['22AD167' 'HARISH KUMAR S ']
['22AD101' 'HARSHINI B ']
['22AD352' 'HARSHINI M']
['22AD102' 'HARSHITHA M ']
['22AD113' 'HEMESH K ']
['22AD261' 'HIMASRI S ']
['22AD275' 'INDHUJA A ']
['22AD267' 'JACOB GUNASEELAN J ']
['22AD112' 'JAIVIGNESH P V ']
['22AD173' 'JANANI M ']
['22AD277' 'JANANI R ']
['22AD233' 'JEEVA BHARATHY S ']
['22AD215' 'JELIZ FEEBA D ']
['22AD256' 'KAMALI M ']
['22AD244' 'KANIGA M ']
['22AD271' 'KARUNYAN V T ']
['22AD210' 'KAVIARASI K ']
['22AD151' 'KAVIN S ']
['22AD245' 'KAVIYA V ']
['22AD123' 'KEERTHI SELVAN M ']
['22AD110' 'KEVIN J C ']
['22AD125' 'KIRUTHIK KUMAR J ']
['22AD163' 'KISHORE M ']
['22AD255' 'KRIPAASREE S ']
['22AD246' 'LATCHIYA R ']
['22AD135' 'LATHIKA V ']
['22AD169' 'LEKHA P ']
['22AD180' 'MAHESH KUMAR P ']
['22AD234' 'MALAVIKA S P ']
['22AD117' 'MARIA LIJOEVIN J ']
['22AD138' 'MELCHIZEDEK I ']
['22AD214' 'MOHAMMAD P ']
['22AD285' 'MOHAMMED NAAZIL A A ']
['22AD232' 'MONICA T ']
['22AD224' 'MONIGA S ']
['22AD194' 'MONISHA R ']
['22AD249' 'NANDHINI D ']
['22AD227' 'NARENDRAN C M ']
['22AD240' 'NAVEEN G G ']
['22AD272' 'NITHISH A ']
['22AD208' 'NITHYASRI S K ']
['22AD164' 'OM PRASATH S ']
['22AD359' 'P SUJAN ']
['22AD270' 'PARSHEELA N G ']
['22AD265' 'PRANAVI J ']
['22AD120' 'PRAVEENRAJ D ']
['22AD166' 'PRITHVI A L ']
['22AD204' 'PRIYADHARSHAN B ']
['22AD209' 'PUGAZHENDHI S ']

In [19]:
connection = sql.connect(
    host="localhost",
    user="root",
    password="Govind@1950",
    db='library'
)
cursor = connection.cursor()
for i in data:
    cursor.execute("INSERT INTO student(ROLL, NAME) VALUES(%s, %s)",(i[0],i[1]))
    connection.commit()