In [2]:
import pymysql as sql
import pandas as pd

In [3]:
df = pd.read_csv("Goodreads.csv")
df

,Unnamed: 0,bookId,title,author,series,description,genres,awards,characters,places,...,publish_date,num_pages,num_ratings,num_reviews,avg_rating,rated_1,rated_2,rated_3,rated_4,rated_5
0,0,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,Harry Potter #6,The war against Voldemort is not going well; e...,"Art,Biography,Business,Children's,Christian,Cl...",Locus Award Nominee for Best Young Adult Novel...,"Draco Malfoy,Ron Weasley,Petunia Dursley,Verno...","Hogwarts School of Witchcraft and Wizardry,Eng...",...,September 16th 2006,652.0,2553909.0,41470.0,4.57,13147.0,29020.0,174312.0,608825.0,1728605.0
1,1,2,Harry Potter and the Order of the Phoenix,"J.K. Rowling,Mary GrandPré",Harry Potter #5,There is a door at the end of a silent corrido...,"Art,Biography,Business,Children's,Christian,Cl...",Bram Stoker Award for Works for Young Readers ...,"Sirius Black,Draco Malfoy,Ron Weasley,Petunia ...","Hogwarts School of Witchcraft and Wizardry,Lon...",...,September 2004,870.0,2631427.0,44793.0,4.50,16236.0,41738.0,231438.0,665628.0,1676387.0
2,2,3,Harry Potter and the Sorcerer's Stone,"J.K. Rowling,Mary GrandPré",Harry Potter #1,Harry Potter's life is miserable. His parents ...,"Art,Biography,Business,Children's,Christian,Cl...",Mythopoeic Fantasy Award for Children's Litera...,"Draco Malfoy,Ron Weasley,Petunia Dursley,Verno...","London, England,Hogwarts School of Witchcraft ...",...,November 1st 2003,309.0,7434783.0,117823.0,4.48,126344.0,147184.0,627803.0,1694206.0,4839246.0
3,3,4,Harry Potter and the Chamber of Secrets,J.K. Rowling,Harry Potter #2,The Dursleys were so mean and hideous that sum...,"Art,Biography,Business,Children's,Christian,Cl...",Mythopoeic Fantasy Award for Children's Litera...,"Draco Malfoy,Ron Weasley,Petunia Dursley,Verno...","Hogwarts School of Witchcraft and Wizardry,Hog...",...,November 1st 2003,352.0,2878196.0,55839.0,4.43,15623.0,55060.0,315917.0,787181.0,1704415.0
4,4,5,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling,Mary GrandPré",Harry Potter #3,"For twelve long years, the dread fortress of A...","Art,Biography,Business,Children's,Christian,Cl...",Bram Stoker Award for Best Work for Young Read...,"Sirius Black,Draco Malfoy,Ron Weasley,Petunia ...","Hogwarts School of Witchcraft and Wizardry,Lon...",...,May 1st 2004,435.0,2972519.0,58483.0,4.57,14124.0,29105.0,214151.0,701765.0,2013374.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20063,20063,19996,Connecticut: In Words and Pictures,"Dennis Brindell Fradin,Richard Wahl,Len W. Meents",NaN,"A brief introduction to the history, geography...","Art,Biography,Business,Children's,Christian,Cl...",NaN,NaN,NaN,...,March 1st 1980,48.0,0.0,0.0,0.00,NaN,NaN,NaN,NaN,NaN
20064,20064,19997,Through a Brazen Mirror,"Delia Sherman,Cortney Skinner,Ellen Kushner",NaN,In a medieval kingdom both like and unlike 13t...,"Art,Biography,Business,Children's,Christian,Cl...",NaN,NaN,NaN,...,February 25th 2015,100.0,141.0,16.0,3.38,8.0,15.0,52.0,47.0,19.0
20065,20065,19998,The Porcelain Dove,Delia Sherman,NaN,Narrated by the irrepressible chambermaid to a...,"Art,Biography,Business,Children's,Christian,Cl...",Mythopoeic Fantasy Award for Adult Literature ...,NaN,NaN,...,July 1st 1994,416.0,242.0,36.0,3.41,18.0,35.0,72.0,63.0,54.0
20066,20066,19999,The Fall Of The Kings,"Ellen Kushner,Delia Sherman",The World of Riverside #3,"From School Library Journal,Adult/High School-...","Art,Biography,Business,Children's,Christian,Cl...",World Fantasy Award Nominee for Best Novella 1...,NaN,NaN,...,2002,NaN,2153.0,167.0,3.65,61.0,214.0,640.0,734.0,504.0
20067,20067,20000,Die Blume der Diener,"Delia Sherman,Michael Siefener",NaN,Der junge William Flower kommt als Unbekannter...,"Art,Biography,Business,Children's,Christian,Cl...",NaN,NaN,NaN,...,2001,318.0,141.0,16.0,3.38,8.0,15.0,52.0,47.0,19.0

In [4]:
df.isnull().sum()/len(df.index) * 100

Unnamed: 0             0.000000
bookId                 0.000000
title                  2.785529
author                 2.795495
series                78.677497
description           13.389476
genres                 1.275663
awards                84.408013
characters            76.185968
places                79.868447
isbn                  12.642017
isbn13                 4.275463
language              13.847917
first_publish_date    27.292206
publish_date           5.212278
num_pages              8.172214
num_ratings            2.785529
num_reviews            2.785529
avg_rating             2.785529
rated_1               17.091888
rated_2               17.091888
rated_3               17.091888
rated_4               17.091888
rated_5               17.091888
dtype: float64

In [5]:
df.isnull().sum()/len(df.index) * 100 > 10

Unnamed: 0            False
bookId                False
title                 False
author                False
series                 True
description            True
genres                False
awards                 True
characters             True
places                 True
isbn                   True
isbn13                False
language               True
first_publish_date     True
publish_date          False
num_pages             False
num_ratings           False
num_reviews           False
avg_rating            False
rated_1                True
rated_2                True
rated_3                True
rated_4                True
rated_5                True
dtype: bool

In [6]:
df.drop(['places','characters','awards','description','series'],axis=1,inplace=True)
df.isnull().sum()/len(df.index) * 100

Unnamed: 0             0.000000
bookId                 0.000000
title                  2.785529
author                 2.795495
genres                 1.275663
isbn                  12.642017
isbn13                 4.275463
language              13.847917
first_publish_date    27.292206
publish_date           5.212278
num_pages              8.172214
num_ratings            2.785529
num_reviews            2.785529
avg_rating             2.785529
rated_1               17.091888
rated_2               17.091888
rated_3               17.091888
rated_4               17.091888
rated_5               17.091888
dtype: float64

In [7]:
df.drop(['first_publish_date','publish_date','language'],axis=1,inplace=True)
df.isnull().sum()/len(df.index) * 100

Unnamed: 0      0.000000
bookId          0.000000
title           2.785529
author          2.795495
genres          1.275663
isbn           12.642017
isbn13          4.275463
num_pages       8.172214
num_ratings     2.785529
num_reviews     2.785529
avg_rating      2.785529
rated_1        17.091888
rated_2        17.091888
rated_3        17.091888
rated_4        17.091888
rated_5        17.091888
dtype: float64

In [8]:
df.dropna(inplace=True)
len(df.index)

14140

In [9]:
# df.to_csv("Cleaned_data.csv")

In [10]:
df['isbn13']

1        9780439358071
3        9780439554893
7        9780439682589
8        9780976540601
9        9780439827607
             ...
20055    9780573625831
20056    9780689505195
20064    9781885865243
20065    9780452272262
20067    9783453188211
Name: isbn13, Length: 14140, dtype: object

In [11]:
df

,Unnamed: 0,bookId,title,author,genres,isbn,isbn13,num_pages,num_ratings,num_reviews,avg_rating,rated_1,rated_2,rated_3,rated_4,rated_5
1,1,2,Harry Potter and the Order of the Phoenix,"J.K. Rowling,Mary GrandPré","Art,Biography,Business,Children's,Christian,Cl...",0439358078,9780439358071,870.0,2631427.0,44793.0,4.50,16236.0,41738.0,231438.0,665628.0,1676387.0
3,3,4,Harry Potter and the Chamber of Secrets,J.K. Rowling,"Art,Biography,Business,Children's,Christian,Cl...",0439554896,9780439554893,352.0,2878196.0,55839.0,4.43,15623.0,55060.0,315917.0,787181.0,1704415.0
7,7,8,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...","J.K. Rowling,Mary GrandPré","Art,Biography,Business,Children's,Christian,Cl...",0439682584,9780439682589,2690.0,58833.0,184.0,4.79,539.0,354.0,1543.0,6204.0,50193.0
8,8,9,"Unauthorized Harry Potter Book Seven News: \""H...",W. Frederick Zimmerman,"Art,Biography,Business,Children's,Christian,Cl...",0976540606,9780976540601,152.0,30.0,1.0,3.80,0.0,5.0,7.0,7.0,11.0
9,9,10,Harry Potter Collection,J.K. Rowling,"Art,Biography,Business,Children's,Christian,Cl...",0439827604,9780439827607,3342.0,31200.0,921.0,4.73,282.0,231.0,1108.0,4471.0,25108.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20055,20055,19988,Where Have All The Lightning Bugs Gone?: A Pla...,Louis E. Catron,"Art,Biography,Business,Children's,Christian,Cl...",0573625832,9780573625831,26.0,7.0,3.0,4.14,0.0,1.0,1.0,1.0,4.0
20056,20056,19989,Hiawatha: Messenger of Peace,"Dennis Brindell Fradin,Arnold Jacobs","Art,Biography,Business,Children's,Christian,Cl...",0689505191,9780689505195,40.0,8.0,0.0,3.13,1.0,1.0,3.0,2.0,1.0
20064,20064,19997,Through a Brazen Mirror,"Delia Sherman,Cortney Skinner,Ellen Kushner","Art,Biography,Business,Children's,Christian,Cl...",1885865244,9781885865243,100.0,141.0,16.0,3.38,8.0,15.0,52.0,47.0,19.0
20065,20065,19998,The Porcelain Dove,Delia Sherman,"Art,Biography,Business,Children's,Christian,Cl...",0452272262,9780452272262,416.0,242.0,36.0,3.41,18.0,35.0,72.0,63.0,54.0
20067,20067,20000,Die Blume der Diener,"Delia Sherman,Michael Siefener","Art,Biography,Business,Children's,Christian,Cl...",3453188217,9783453188211,318.0,141.0,16.0,3.38,8.0,15.0,52.0,47.0,19.0

In [15]:
df.to_csv("Cleaned_data.csv")

In [12]:
import pandas as pd
import pymysql as sql

In [16]:
df = pd.read_csv("Cleaned_data.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,bookId,title,author,genres,isbn,isbn13,num_pages,num_ratings,num_reviews,avg_rating,rated_1,rated_2,rated_3,rated_4,rated_5
0,1,1,2,Harry Potter and the Order of the Phoenix,"J.K. Rowling,Mary GrandPré","Art,Biography,Business,Children's,Christian,Cl...",439358078,9780439358071,870.0,2631427.0,44793.0,4.50,16236.0,41738.0,231438.0,665628.0,1676387.0
1,3,3,4,Harry Potter and the Chamber of Secrets,J.K. Rowling,"Art,Biography,Business,Children's,Christian,Cl...",439554896,9780439554893,352.0,2878196.0,55839.0,4.43,15623.0,55060.0,315917.0,787181.0,1704415.0
2,7,7,8,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...","J.K. Rowling,Mary GrandPré","Art,Biography,Business,Children's,Christian,Cl...",439682584,9780439682589,2690.0,58833.0,184.0,4.79,539.0,354.0,1543.0,6204.0,50193.0
3,8,8,9,"Unauthorized Harry Potter Book Seven News: \""H...",W. Frederick Zimmerman,"Art,Biography,Business,Children's,Christian,Cl...",976540606,9780976540601,152.0,30.0,1.0,3.80,0.0,5.0,7.0,7.0,11.0
4,9,9,10,Harry Potter Collection,J.K. Rowling,"Art,Biography,Business,Children's,Christian,Cl...",439827604,9780439827607,3342.0,31200.0,921.0,4.73,282.0,231.0,1108.0,4471.0,25108.0

In [17]:
df.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [19]:
df = df[['isbn13','title','author','genres']]
df.head()

,isbn13,title,author,genres
0,9780439358071,Harry Potter and the Order of the Phoenix,"J.K. Rowling,Mary GrandPré","Art,Biography,Business,Children's,Christian,Cl..."
1,9780439554893,Harry Potter and the Chamber of Secrets,J.K. Rowling,"Art,Biography,Business,Children's,Christian,Cl..."
2,9780439682589,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...","J.K. Rowling,Mary GrandPré","Art,Biography,Business,Children's,Christian,Cl..."
3,9780976540601,"Unauthorized Harry Potter Book Seven News: \""H...",W. Frederick Zimmerman,"Art,Biography,Business,Children's,Christian,Cl..."
4,9780439827607,Harry Potter Collection,J.K. Rowling,"Art,Biography,Business,Children's,Christian,Cl..."

In [ ]:
cursor = connection.cursor()

In [25]:
# Let's select the rows and store them in a tuple
# data = df[['isbn13','title','author','genres']].values
print(data[1])

[9780439554893 'Harry Potter and the Chamber of Secrets' 'J.K. Rowling'
 "Art,Biography,Business,Children's,Christian,Classics,Comics,Cookbooks,Ebooks,Fantasy,Fiction,Graphic Novels,Historical Fiction,History,Horror,Memoir,Music,Mystery,Nonfiction,Poetry,Psychology,Romance,Science,Science Fiction,Self Help,Sports,Thriller,Travel,Young Adult,Art,Biography,Business,Children's,Christian,Classics,Comics,Cookbooks,Ebooks,Fantasy,Fiction,Graphic Novels,Historical Fiction,History,Horror,Memoir,Music,Mystery,Nonfiction,Poetry,Psychology,Romance,Science,Science Fiction,Self Help,Sports,Thriller,Travel,Young Adult,Fantasy,Young Adult,Fiction,Fantasy,Magic,Childrens,Childrens,Middle Grade,Adventure,Audiobook,Classics,Science Fiction Fantasy"]

In [20]:
df['isbn13'].astype('int')

0        9780439358071
1        9780439554893
2        9780439682589
3        9780976540601
4        9780439827607
             ...
14135    9780573625831
14136    9780689505195
14137    9781885865243
14138    9780452272262
14139    9783453188211
Name: isbn13, Length: 14140, dtype: int64

In [30]:
query = "INSERT INTO books(id, bname, author, genre)  VALUES(%d, %s, %s, %s)"
for i in data:
    i[0] = int(i[0])
    try:
        connection = sql.connect(
        host='localhost',
        user='root',
        password='Kausik@2204',
        db='library'
        )
        cursor = connection.cursor()
        vals = (int(i[0]),i[1],i[2],i[3])
        cursor.execute(query,i)
    finally:
        connection.commit()

TypeError: %d format: a real number is required, not str

In [31]:
for i in data:
    i[0] = int(i[0])
    try:
        connection = sql.connect(
            host='localhost',
            user='root',
            password='Kausik@2204',
            db='library'
        )
        cursor = connection.cursor()
        vals = (int(i[0]), i[1], i[2], i[3])
        cursor.execute(query, vals)  # Pass vals as a tuple
    finally:
        connection.commit()

TypeError: %d format: a real number is required, not str